@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
html {
    scroll-behavior: smooth;
    scroll-padding-top: 10vh;
}
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #FF702A #2C2D47;
  }
  
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #2C2D47;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #FF702A;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #FF702A;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: ff702a;
  }
  
body {
    background-color: #1e1d2b;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    margin: 0;
    z-index: 100;
    background-color: #1e1d2b;
}

.logo{
    color: #ff702a;
    font-size: 25px;
    margin-left: 20px;
}

.menu{
    z-index: 100;
    padding: 0;
    margin: 0;
    position: fixed;
    background-color: #1e1d2b ;
    display: flex;
    flex-direction: column;
    top: 10vh;
    left: 0;   
    height: 50vh;
    width: 100%;
    text-align: center;
}

.menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    margin:  15px;
    padding:5px 10px;
    border-radius: 5px;
}

.menu a:hover{
    outline: solid 2px #087f5b;
    transition: 0.2s;
}

header .botonMenu{
    position: fixed;
    background: none;
    border: none;
    padding: 0;
    margin: 20px 20px;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;   
    cursor: pointer;            
}

.botonMenu .linea{
    height: 4px;
    width: 30px;
    border-radius: 5px;
    background-color: #087f5b;
    margin: 3px 0;
}


.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0 100px;

}
.home h1 {
    color: #ff702a;
    font-size: 7vw;
    margin: 0;
    padding: 0;
    
}

.home p {
    color: white;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 20px;
}

.home .imghome img {
    filter: drop-shadow(-10px -10px 300px rgb(255, 124, 37));
    width: 40vw;
}

.home .boton {
    margin: 10px 0;
    padding: 10px 30px ;
    cursor: pointer;
    background-color: #ff702a;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 15px; 
}

.boton:hover {
    box-shadow: 0 0 20px rgb(255, 137, 58);
    font-size: 16px;
    transition: 0.4s;
}

.About {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.imgAbout img {
    height: 100vh;
}

.About h4 {
    color: #ff702a;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.About h2 {
    color: white;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 40px;
}

.About p {
    color: white;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 20px;
}
.containerAbout{
    margin: 0 100px;
}

.About .boton {
    margin: 10px 0;
    padding: 10px 30px ;
    cursor: pointer;
    background-color: #ff702a;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 15px; 
}

.foodMenu {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin: 0;
    padding-top: 5vh;
    transform: translateY(0);
    transition: 0.5s;
    height: 90vh;
}

.foodMenu h2 {
    color: #ff702a;
    padding: 0;
    margin: 0 0 0 0;
}

.foodMenu p{
    color: white;
    font-size: 45px;
    padding: 0;
    margin: 0;
}

.burguer {
    display: flex;
    align-content: center;
    justify-content: center;
}

.burguer div {
    display: flex;
    width: 25vw;
    background-color: #ffefe8;
    margin: 0 20px;
    flex-flow: wrap column;
    justify-content: center;
    align-content: center;
    padding: 0;
    border-radius: 20px ;
    cursor: pointer;
}

.burguer div:hover {
    box-shadow: 5px 5px 10px #000000;
    transition: 0.3s;
}
.burguer h3 {
    margin: 0;
}

.burguer img {
    width: 250px;
    margin: 0;
}

.burguer .cost {
    color: #ff702a;
}

.services {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin: 0;
    /* padding-top: 10vh; */
    transform: translateY(0);
    transition: 0.5s;
    height: 90vh;
}

.services h2 {
    color: #ff702a;
    padding: 0;
    margin: 0 0 0 0;
}

.services p{
    color: white;
    font-size: 45px;
    padding: 0;
    margin: 0;
}

.service {
    display: flex;
    align-content: center;
    justify-content: center;
}

.service div {
    display: flex;
    width: 25vw;
    margin: 0 20px;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 40px ;
    cursor: pointer;
    padding: 10px;
}


.service div:hover {
    filter: drop-shadow(0 3px 50px #ff702a);
    transition: 0.4s;
}
.service h3 {
    margin: 0;
    color: #ff702a;
}

.service img {
    width: 250px;
    margin: 0;
}


.service span {
    color: white;
    display: flex;
    justify-content: center;
}

.learnMore {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.infoBoton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #ffefe8;
    width: 1150px;
    height: 300px;
    border: none;
    border-radius: 30px;
    
}
.learnMore p {
    font-size: clamp(16px, 5vw, 50px);
    padding: 0 16%;
    margin: 0;
}
.learnMore p:hover {
    transition: none;
    box-shadow: none;
}
.learnMore :hover{
    box-shadow: 5px 5px 10px #000000;
    transition: 0.3s;
}


.infoBoton button {
    margin: 10px 0;
    padding: 10px 30px ;
    cursor: pointer;
    background-color: #ff702a;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 15px; 
    width: 150px;
}

.infoBoton button:hover {
    box-shadow: 0 0 20px rgb(255, 137, 58);
    transition: 0.4s;
}


footer {
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align: start;
    margin-bottom: 50px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    color: white;
}

.info h2{
    font-size: 20px;
    margin: 0;
    transition: 0.3s linear;
}

.info a {
    color: white;
    text-decoration: none;
    transition: 0.3s linear;
}

.info nav{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: justify;
    color: white;
}

.info div{
    height: 4px;
    width: 40px;
    border-radius: 5px;
    background-color: #ff702a;
    margin: 0px 0px 10px 0px;
} 

.info h2 div:hover::before,
.info a:hover{
    color: #087f5b;
    width: 100%;
}
#contacto a {
    color: #ff702a;
    text-decoration: none;
    font-size: 25px;
    margin: 0 5px 0 0;
}

#contacto nav{
    display: flex;flex-direction: row;
    justify-content: space-around;
}

@media (min-width: 768px) {

    header .botonMenu{
        display: none;
    }

    .menu  {
        flex-direction: row; /* Cambia la dirección a horizontal */
        background-color: transparent;
        position: initial;
        align-items: center;
        justify-content: end;
    } 

    header {
        display: flex;
        align-items: center;
    }
    .contacto {
        display: none;
    }
}

@media (max-width: 768px) {
    header .menu  {
        display: flex;
        align-items: center;
        transform: translateX(-100%);
        transition: transform 0.3s; 
        background-color: #2C2D47;
    } 

    .menu a {
        width: 100px;
        font-size: 25px;

    }
    .menu.active{
        transform: translateX(0);  
    }  
    .menu a:hover::before,
    .menu a:hover{
        width: 100px;
    }


    .home  {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center; 
        
    }
    .home p{
        text-align: center;
    }

    .home h1{
        font-size:  290%;
        text-align: center;
    }

    .home .imghome img {
        filter: drop-shadow(-10px -10px 180px rgb(255, 124, 37));
        width: 80vw;
    }
    
    .About {
        flex-flow: column-reverse nowrap;
        margin: 0;
    }

    .imgAbout img {
        margin-top: 10px;
        height: 100vw;
    }
    
    .About h4 {
        font-size: 25px;
        text-align: center;
        padding-top: 2vh;
    }
    
    .About h2 {
        text-align: center;
        font-size: 30px;
    }
    
    .About p {
        text-align: center;
        font-size: 15px;
    }
    .containerAbout{
        margin: 0 30px;
        text-align: center;
    }

    .foodMenu{
        height: 180vh;
    }
    .foodMenu p{
        font-size: 30px;
        margin: 0 10px;
    }
    
    .burguer {
        flex-flow: column wrap;
    }
 
    .burguer div {
        display: flex;
        width: 80vw;
        flex-flow:wrap-reverse column;
        margin: 20px;
    }
    .services{
        height: 150vh;
    }
    .services p{
        font-size: 30px;
        margin: 0 10px;
    }
    .service {
        flex-flow: column wrap;
    }
 
    .service div {
        display: flex;
        width: 80vw;
        flex-flow:wrap-reverse column;
    }

    .learnMore {
        height: 60vh;
        margin: 10px 40px;
    }
    footer {
        flex-direction: column;
        margin-top: 120px;
        margin-bottom: 250px;
    }

    .info{
        justify-content: center;
        margin: 20px 10px 10px 40px;
    }
    #contacto{
        display: none;
    }

    .contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: left;
        color: white;
        margin-bottom: 20px;
    }

    .contacto h2{
        font-size: 20px;
        margin: 0;
    }
    
    .contacto a {
        color: #ff702a;
        text-decoration: none;
        font-size: 20px;
        margin: 5px;
    }
    
    .contacto nav{
        display: flex;
        justify-content: space-around;
    }
    
    .contacto div{
        height: 4px;
        width: 83px;
        border-radius: 5px;
        background-color: #ff702a;
        margin: 0px 0px 10px 0px;
    } 
}